html,
body {
    font-family: fantasy !important;
    color: #d9d9d9 !important
}

/* CONTAINERS */
.container,
.container-fluid {
    background-color :rgb(30 16 30) !important;
}

/* CARDS */
.card {
    box-shadow: 0 2px 3px 0px rgb(0 0 0) !important;
    background-color: rgb(52 28 52) !important;
    border-radius: 30px !important;
}

.card .card-title {
    color:#29d089;
}

.card input{
    background-color: rgb(115 93 115) !important;
    border-color: rgb(52 28 52) !important;
    box-shadow: 0 2px 3px 2px rgb(30 16 30) !important;
}

.card .form-control:focus,
.card .form-control:active {
    box-shadow: none !important;
    color: rgb(52 28 52) !important;
}

.card .form-check-input {
    color: rgb(52 28 52) !important;
    box-shadow: 0 2px 3px 2px rgb(30 16 30) !important;
}

.card .form-check-input:checked {
    background-color: rgb(30 16 30) !important;
}

.card.player-choice {
    height: 200px !important;
    width: 180px !important;
    background-color: rgb(115 93 115) !important;
}

.card.player-choice.waiting {
    background-color: #29d089 !important;
    color: rgb(52 28 52) !important;
}

/* BUTTONS */
.btn.btn-primary {
    background-color: #29d089 !important;
    border-color: #29d089 !important;
    color: rgb(52 28 52) !important;
    box-shadow: 0 2px 3px 2px rgb(30 16 30) !important;
}

.btn.btn-primary:hover {
    background-color: #1ca36a  !important;
    border-color: #1ca36a !important;
}

.btn.btn-primary:active {
    background-color: #29d089 !important;
    border-color: #29d089 !important;
}

.btn.btn-secondary {
    background-color: rgb(97 61 91) !important;
    border-color: rgb(97 61 91) !important;
    color: #d9d9d9 !important;
    box-shadow: 0 2px 3px 2px rgb(30 16 30) !important;
}

.btn.btn-secondary:hover {
    background-color: rgb(76 48 71) !important;
    border-color: rgb(41 25 38) !important;
}

.btn.btn-secondary:active {
    background-color: rgb(76 48 71) !important;
    border-color: rgb(97 61 91) !important;
}

.btn.btn-tertiary {
    background-color: rgb(115 93 115) !important;
    border-color: rgb(97 61 91) !important;
    color: #d9d9d9 !important;
    box-shadow: 0 2px 3px 2px rgb(30 16 30) !important;
}

.btn.btn-tertiary:hover {
    background-color: rgb(97 61 91) !important;
    border-color: rgb(41 25 38) !important;
}

.btn.btn-tertiary:active {
    background-color: rgb(97 61 91) !important;
    border-color: rgb(97 61 91) !important;
}

.btn.btn-game {
    width: 100px;
    height: 100px;
}
/* FORMS */


/* TOASTR */
.toast{
    box-shadow: none !important;
}

/* NAVBAR */
.nav-bar{
    background-color: #29d089 !important;
    color: rgb(30 16 30) !important;
    box-shadow: 0 0px 6px 2px rgb(30 16 30) !important;
    border-color: rgb(30 16 30) !important;
    height: 80px;
    z-index: 1;
}

/* SIDEBAR */
.side-bar{ 
    background-color: rgb(52 28 52) !important;
}

/* MAIN CONTENT */
.main-content{ 
    background-color: rgb(115 93 115) !important;
    min-height: 100%;
}

/* LOADER */
.lds-ripple {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}
.lds-ripple div {
    position: absolute;
    border: 4px solid #29d089;
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
}
@keyframes lds-ripple {
    0% {
        top: 36px;
        left: 36px;
        width: 0;
        height: 0;
        opacity: 0;
    }
    4.9% {
        top: 36px;
        left: 36px;
        width: 0;
        height: 0;
        opacity: 0;
    }
    5% {
        top: 36px;
        left: 36px;
        width: 0;
        height: 0;
        opacity: 1;
    }
    100% {
        top: 0px;
        left: 0px;
        width: 72px;
        height: 72px;
        opacity: 0;
    }
}
.search-loader h3{
    color: rgb(52 28 52) !important;
}

/* LINKS */
.primary-link {
    text-decoration: none;
    color: rgb(30 16 30) !important;
}

.primary-link:hover {
    text-decoration: underline;
}

/* HR */
hr {
    border-top: 5px solid #29d089 !important;
    opacity: 1 !important;
}


/* TEXT */
.text-green {
    color: #29d089 !important;
}

/* SCOREBOARD */
.scoreboard{ 
    background-color: rgb(52 28 52) !important;
}

.scoreboard .score{
    font-size: 140px;
    color: #29d089 !important;
}
